<%include header.ejs%>

<div class="container text-center">
    <p>
    <h4> <%= name %></h4>
    </p>

<form class="mt-5" action="changePsd" method="post">
    <div class="form-group">
        <input type="password" class="form-control" name="psd" placeholder="密码">
        <input type="password" class="form-control" name="newpsd" placeholder="新密码">
    </div>
    <button type="submit" class="btn btn-primary w-100">更新</button>
</form>
</div>

<%include footer.ejs%>