<%include header.ejs%>

<div class="container">
    <div class="row">
        <div class="col-4"> a</div>
        <div class="col-4">b</div>
        <div class="col-4">c</div>
    </div>

</div>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
    <% for(var i = 0; i < list.length; i++){ %>
        <li>list[i]</li>
    <% } %>
</ul>

<%include footer.ejs%>